<div id="wrapper" class="container">
  <div class="row">
    <div class="col-7">
      <h2><i>Articles</i></h2>
      <div id="articles">
      <ul>
      {{#each articles}}
        <li><a href="{{link}}" target="_blank">{{title}}</a></li>
        <li><button class="btn btn-danger open-comments" data-id="{{id}}">comments</button></li>
        <hr>
      {{/each}}
       </ul>
      </div>
    </div>
    <div id="comment-section" class="col-5">
    </div>
  </div>
</div>
